<div id="i_use_a_crap_browser">
	<!-- logo -->
	<div id="ie_logo">
		<a href="/?warned=1" title="home" rel="home" ><img src="/images/ie-logo.jpg" title="Charles Marshall" alt="logo"/></a>
	</div>
	<div id="ie_message">
		<p>I'm affraid to say that you're using a really poor quality browser that doesn't work 
			properly, is insecure and does no comply industry standards.</p>
		<p>You should really install a more modern browser in order to surf the web in a safe manor.</p>
		<h6>Alternatives</h6>
		<ul>
			<li id="firefox"><a href="http://www.mozilla-europe.org/en/firefox/" title="firefox" rel="firefox">Firefox</a></li>
			<li id="safari"><a href="http://www.apple.com/safari/" title="safari" rel="safari">Safari</a></li>
			<li id="opera"><a href="http://www.opera.com/" title="opera" rel="opera">Opera</a></li>		
		</ul>
		<h6>Or if you really love IE, get the latest...</h6>
		<ul>
			<li id="ie"><a href="http://www.microsoft.com/windows/products/winfamily/ie/default.mspx" title="IE 7" rel="IE 7">IE</a></li>	
		</ul>
		<p><strong>If you want to risk it, carry on to <a href="/?warned=1">my site</a> but be warned it might not look as intended!</strong></p>
	</div>
</div>