#resizer, #resizer_maxed, #resizer_min_max, #resizer_area,#resize_no_x,#resize_no_y{
	width:300px;
	height:200px;
	border:1px solid red;
}
#resize_p{border:1px solid red;}
#resize_bar,#resize_no_y{
	margin-top:20px;
}