html,body, #diagonal_madness{overflow-x:hidden;}
.accordion{
	border:1px dotted black;
	width:500px;/*little bit bigger*/
	margin:0;
	height:284px;
}
#diagonal_madness{
	margin:20px 0;
	height:300px;
	width:600px;
  padding:0;
}

.accordion{background:url('/diagonal-accordion/bar.gif') no-repeat top left;}
.hover_target{border:1px solid red;}
div.target_2{border-color:green;}
div.target_3{border-color:yellow;}
div.target_4{border-color:black;}
div.target_5{border-color:white;}