$breakpoints: (
  small : 480px,
  medium: 700px,
  large : 1000px,
  xlarge: 1100px
);



/**
 * Colours
 */
$paleColour: #feffff; //body 
$highlightColour: #3aafa9; //logo
$headerColour: #17252a; //h1
$accentColour: #2b7a78; // bold / strong etc
$contrast: #def2f1;
/**
 * Logos
 */
$navHeight: 40px;

/**
 * Hero
 */
$heroHeightNormal: 70vh;
$heroHeightSlim: 30vh;
$heroTextWidth: 65vw;
$heroTextMarginLeft: 10vw;
$heroTextMarginTop: 22vh;
/**
 * Banners
 */
$bannerHeight: 45vh;

/**
 * Buttons
 */ 
$buttonPadding: 8px 14px;

/**
 * Container padding
 * - top level container such as featured-services is paddingOuter
 * - inner containers such as hero / featured service text is paddingInner
 */
$paddingOuter: 20px;
$paddingInner: 20px;

/**
 * Body copy variables
 */
$copyMarginBottom: 0.8em; 
$copyFontSize: 16px;
$copyLineHeight: 1.6em;

/**
 * Headings
 */
$h1FontSize: 30px;
$h2FontSize: 24px;
$h3FontSize: 18px;

/**
 * Featured Items
 */
$featuredItemMinHeight: 240px; 

