Redirect permanent /work/tiny-js /work/2009/04/23/tiny-js.html
Redirect permanent /work/abstract-healthcare /work/2009-01-20/abstract-healthcare.html
Redirect permanent /work/lisa-shepherd /work/2008/10/18/lisa-shepherd.html
Redirect permanent /work/free-to-freelance /work/2008/10/26/free-to-freelance.html
Redirect permanent /work/squeaky-clean /work/2008/10/15/squeaky-clean.html
Redirect permanent /work/simple-photography /work/2008/05/20/simple-photography.html
Redirect permanent /work/is-bigger-better /work/2008/10/26/is-bigger-better.html
Redirect permanent /work/eic /work/2008/09/16/eic.html
Redirect permanent /work/the-shave-doctor /work/2008/09/06/the-shave-doctor.html
Redirect permanent /work/mensgroom /work/2008/08/13/mensgroom.html
Redirect permanent /work/made-schools /work/2008/07/30/made-schools.html
Redirect permanent /work/spence-insurance /work/2008/01/06/spence-insurance.html
Redirect permanent /work/lp-creative-crafts /work/2006/09/10/lp-creative-crafts.html
Redirect permanent /work/cherry-picked-insurance /work/2007/05/06/cherry-picked-insurance.html
Redirect permanent /work/walsall-childrens-services-directory /work/2007/09/02/walsall-childrens-services-directory.html
Redirect permanent /work/spirit-health-clubs /work/2006/12/20/spirit-health-clubs.html
Redirect permanent /work/clarke-dove /work/2007/08/19/clarke-dove.html
Redirect permanent /work/powell-insurance-brokers /work/2007/07/19/powell-insurance-brokers.html
Redirect permanent /work/foster-leighton /work/2007/04/05/foster-leighton.html
Redirect permanent /work/anthony-collins-extranet /work/2007/10/13/anthony-collins-extranet.html
Redirect permanent /work/house-of-fraser-club /work/2007/05/23/house-of-fraser-club.html
Redirect permanent /work/style-birmingham /work/2007/12/06/style-birmingham.html
Redirect permanent /work/telford-shopping-centre /work/2007/11/23/telford-shopping-centre.html
Redirect permanent /work/greenhill-dobbin /work/2007/11/28/greenhill-dobbin.html
Redirect permanent /blog/linus-torvalds-officially-a-hero /general/2007/01/16/linus-torvalds-officially-a-hero
Redirect permanent /blog/the-way-of-the-wii /general/2007/11/22/the-way-of-the-wii
Redirect permanent /blog/nutters /rant/2009/01/23/nutters
Redirect permanent /blog/powered-by-useless-utilities /rant/2006/11/16/powered-by-useless-utilities
Redirect permanent /blog/public-transport-the-future /rant/2006/11/21/public-transport-the-future
Redirect permanent /blog/my-mac-and-i /general/2006/12/03/my-mac-and-i
Redirect permanent /blog/bulldog-broadband /rant/2006/12/12/bulldog-broadband
Redirect permanent /blog/flickrs-desktop-wallpaper-pool /general/2007/01/14/flickrs-desktop-wallpaper-pool
Redirect permanent /blog/new-robot-adapts-to-injuries /general/2007/01/24/new-robot-adapts-to-injuries
Redirect permanent /blog/stunning-fully-functional-13-scale-ferrari /general/2007/02/05/stunning-fully-functional-13-scale-ferrari
Redirect permanent /blog/ms-vi /web/2007/03/20/ms-vi
Redirect permanent /blog/it-lives /web/2007/10/16/it-lives
Redirect permanent /blog/flickrtastic /web/2007/11/18/flickrtastic
Redirect permanent /blog/dont-look-down /general/2008/01/18/dont-look-down
Redirect permanent /blog/a-search-engine-to-call-my-own /web/2007/11/17/a-search-engine-to-call-my-own
Redirect permanent /blog/xkcd-1337 /web/2007/11/10/xkcd-1337
Redirect permanent /blog/iphone-uk-launch /general/2007/10/29/iphone-uk-launch
Redirect permanent /blog/macbook-air /general/2008/01/22/macbook-air
Redirect permanent /blog/ie8-stupidity /web/2008/01/24/ie8-stupidity
Redirect permanent /blog/ie-6-bug-repeating-characters /web/2008/02/01/ie-6-bug-repeating-characters
Redirect permanent /blog/loading /web/2008/01/31/loading
Redirect permanent /blog/real-programmers /web/2008/02/02/real-programmers
Redirect permanent /blog/netscape-no-more /web/2008/02/29/netscape-no-more
Redirect permanent /blog/silverstone /social/2008/03/16/silverstone
Redirect permanent /blog/tesla-starts-production /cars/2008/03/18/tesla-starts-production
Redirect permanent /blog/retro-gaming /web/2008/03/28/retro-gaming
Redirect permanent /blog/how-to-setup-os-x-leopard-for-a-lamp-development /web/2008/03/28/how-to-setup-os-x-leopard-for-a-lamp-development
Redirect permanent /blog/april-fools /web/2008/04/01/april-fools
Redirect permanent /blog/bbc-iplayer-vs-uk-isps-network-contention /rant/2008/04/09/bbc-iplayer-vs-uk-isps-network-contention
Redirect permanent /blog/developing-locally-in-leopard /web/2008/05/11/developing-locally-in-leopard
Redirect permanent /blog/geek-in-the-park-2008 /web/2008/05/20/geek-in-the-park-2008
Redirect permanent /blog/firefox-day /applications/2008/06/16/firefox-day
Redirect permanent /blog/so-many-os-not-enough-machines /web/2008/06/25/so-many-os-not-enough-machines
Redirect permanent /blog/flash-aha-saviour-of-the-internet /web/2008/10/20/flash-aha-saviour-of-the-internet
Redirect permanent /blog/jquery-modal /jquery/2008/11/10/jquery-modal
Redirect permanent /blog/jquery-zoom /jquery/2008/11/11/jquery-zoom
Redirect permanent /blog/jquery-draggable /jquery/2008/11/11/jquery-draggable
Redirect permanent /blog/jquery-resizer /jquery/2008/11/11/jquery-resizer
Redirect permanent /blog/jquery-diagonal-accordion /jquery/2008/12/15/jquery-diagonal-accordion
Redirect permanent /blog/advertising-accuracy-or-lack-of /rant/2009/01/03/advertising-accuracy-or-lack-of
Redirect permanent /blog/waa-buys-crap-web-company /rant/2009/01/16/waa-buys-crap-web-company
Redirect permanent /blog/waa-where-web-agencies-go-to-die /rant/2009/01/22/waa-where-web-agencies-go-to-die
Redirect permanent /blog/far-too-normal /rant/2009/02/13/far-too-normal
Redirect permanent /blog/preferred-stylesheets /web/2009/02/18/preferred-stylesheets
Redirect permanent /blog/ie-6-bug-repeating-characters-revisited /web/2009/04/28/ie-6-bug-repeating-characters-revisited
Redirect permanent /archive/f1-season-review-2006 /motorsport/2006/11/27/f1-season-review-2006
Redirect permanent /archive/f1-australia-2007 /motorsport/2007/03/19/f1-australia-2007
Redirect permanent /archive/f1-malaysia-2007 /motorsport/2007/04/08/f1-malaysia-2007
Redirect permanent /archive/f1-bahrain-2007 /motorsport/2007/04/15/f1-bahrain-2007
Redirect permanent /archive/f1-spain-2007 /motorsport/2007/05/13/f1-spain-2007
Redirect permanent /archive/f1-monte-carlo-2007 /motorsport/2007/05/27/f1-monte-carlo-2007
Redirect permanent /archive/f1-canada-2007-hamiltons-first-win /motorsport/2007/06/10/f1-canada-2007-hamiltons-first-win
Redirect permanent /archive/f1-usa-2007-second-win-for-lewis /motorsport/2007/06/17/f1-usa-2007-second-win-for-lewis