---
layout: default
home: true
title: Web Developer
header_introduction: "<p>Occasionally I talk about stuff and build some things (you know, websites, applications, jQuery plugins and the like) and this is where I try to write about them.</p><p>I work as a web developer for One Black Bear in Birmingham, UK</p>"
keywords:
- charles marshall
- charles
- marshall
- web developer
- birmingham UK
- birmingham
- web
- jquery
- css
- javascript
- bash
- WAA
- google
description: "Charles Marshall, web developer. Occasionally I talk about stuff and build some things (you know, websites, applications, jQuery plugins and the like) and this is where I try to write about them."
---

{% for post in site.posts limit: 5 %}
<div class="post row {{ post.category }} clearfix">
  <h2 class='title'><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
  <div class='clearfix summary'>
    <h5 class='date curvy'>{{ post.date | date_to_string }}</h5>
    <h6 class='curvy'><a href='/{{ post.category | downcase }}.html' title='{{ post.category | downcase }}'>{{ post.category | downcase }}</a></h6>
  </div>
  {% if post.introduction %}
  {{ post.introduction }}
  {% else %}
  {{ post.content }}
  {% endif %}
  <p class='read_more'><a href="{{ post.url }}" title="{{ post.title }}" class='category curvy'>read more &raquo;</a></p>
</div>
{% endfor %}