---
layout: default
title: Web
catname: web
keywords:
- web
- internet
- developer
- php
- python
- ruby
- one black bear
- charles marshall
- charles
- marshall
- web developer
- birmingham UK
- birmingham
description: "As a web developer I spend far too much time surfing the net and playing with websites; so when I find something really good (or bad) I write about it here"
header_introduction: "<p>As a web developer I spend far too much time surfing the net and playing with websites; so when I find something really good (or bad) I write about it here.</p>"
---

{% for post in site.categories.web limit 10000 %}
<div class="post row {{ post.category }} clearfix">
  <h2 class='title'><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
  <div class='clearfix summary'>
    <h5 class='date curvy'>{{ post.date | date_to_string }}</h5>
    <h6 class='curvy'><a href='/{{ post.category | downcase }}.html' title='{{ post.category | downcase }}'>{{ post.category | downcase }}</a></h6>
  </div>
  {% if post.introduction %}
  {{ post.introduction }}
  {% else %}
  {{ post.content }}
  {% endif %}
  <p class='read_more'><a href="{{ post.url }}" title="{{ post.title }}" class='category curvy'>read more &raquo;</a></p>
</div>
{% endfor %}