#content{
  padding:1% 0 1% 1%;
}
  #content .container{
    background: #36424A;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding:1%;
    margin:1% 0% 1% 1%;
    width:46%;
    float:left;
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  }
  #content .container-large{
    width:94%;
    clear:both;
  }
    
    #content .container .inner{
      background:#CEDFEA;
      padding:5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
      -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
      box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    }  