.example_block{
  padding:10px 0;
}

  .example_block .output{
    width:16%;
    float:left;
  }
  #output-events{
    height:120px;
    overflow: auto;
    padding:10px 20px;
  }
    .example_block .output p{
      font-size:11px;
      margin-bottom:2px;
    }
.item{
  display:block;
  border:2px solid #000;
  height:90px;
  width:20%;
  margin:10px 2.5% 10px 2.5%;
  float:left;
}

.active{
  border-color: red;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}