{% if include.ctaLink  %}
	<a href="{{ include.ctaLink | prepend: site.github.url }}" class="featured-item cat-{{ include.cat }}" style="background-image: url('{{ include.imageURL | prepend: site.github.url }}');">
		<div class="featured-item__text">
			<h3>{{ include.title }}</h3>
			<p>{{ include.copy }}</p>
			<span class='button'>Details</span>
		</div>
	</a>
{% else %}
	<div class="featured-item cat-{{ include.cat }}" style="background-image: url('{{ include.imageURL }}');">
		<div class="featured-item__text">
			<h3>{{ include.title }}</h3>
			<p>{{ include.copy }}</p>
		</div>
	</div>
{% endif %}
