{% if include.isSlim %}
	{% assign slimClass = "slim" %}
{% endif %}

<div class="hero {{ slimClass }}" style="background-image: url('{{ include.imageURL | prepend: site.github.url }}');">
	<div class="hero__text">
		{% if include.logo %}
			<img src="{{ include.logo | prepend: site.github.url }}" class="hero__logo"/>
		{% endif %}
		<h1>{{ include.title }}</h1>
		<p>{{ include.copy }}</p>
		{% if include.ctaLink and include.ctaCopy %}
			<a href="{{ include.ctaLink }}" class="button">{{ include.ctaCopy }} <span>&raquo;</span></a>
		{% endif %}
	</div>
</div>