<section class='intro'>

	<div class="intro__text">
		<strong class="title">Hello</strong>
		<p>I'm Charles Marshall. I have over 10 years of industry experience, and have worked on most forms of web (and related) tehchnology, some for just fun, others for serious production projects.</p>

		<p>I've covered a wide variety of projects from simple, but effective, campaign driven content to large scale, multi-year projects such as &pound;1m+ ecommerce builds for famous brands and household names such as JCB, National Express, Subaru &amp; Crown Paints.</p>

		<p>I've worked for several companies including established agencies (such as WAA), start ups and software teams. I am current Technical Director for McCann Birmingham.</p>

	</div>


</section>
