	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "BreadcrumbList",
	  "itemListElement": 
	  [
	  	{
	  	    "@type": "ListItem",
	  	    "position": 1,
	  	    "item": {
	  	      "@id": "{{ site.github.url }}/",
	  	      "name": "Home"
	  	    }
	  	},

	  	{
	  	    "@type": "ListItem",
	  	    "position": 2,
	  	    "item": {
	  	      "@id": "{{ site.github.url }}/{{ page.parentPage }}/",
	  	      "name": "{{ page.parentPage }}"
	  	    }
	  	},

	  	{
	  	    "@type": "ListItem",
	  	    "position": 3,
	  	    "item": {
	  	      "@id": "{{ site.github.url }}{{ page.permalink }}",
	  	      "name": "{{ page.title }}",
	  	      "image": "{{ site.github.url }}{{ page.thumbnail }}"
	  	    }
	  	}

	  ]
	}
	</script>