.button{
  background:#1C1C1C;
  color:#ebebeb;
  font-size:12px;
  letter-spacing: 1px;
  text-decoration:none;
  display:inline-block;
  padding:0;
  text-align: center;
  border-radius: 2px;
}
.button:hover,
.button:hover span{
  color:#fff;
}
.button span{
  color:#ebebeb;
  padding:8px;
  float:left;
  display:block;
  line-height: 1em;
}
  .button .action{
    font-size:77%;
    padding:9px 8px;
    background:#333333;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }