#navigation{
  width:90%;
  margin:0 auto;
  display:block;
}
  #navigation a{
    display:block;
    padding:10px 16px;
    color:#ebebeb;
    text-decoration: none;
    float:left;
    font-family:"Open Sans", helvetica, arial;
    font-size:16px;
  }
  #navigation a:hover{
    color:#fff;
  }
  #navigation .active{
    background:#1C1C1C;
  }