
*,body,html{color:#dbdbdb;}
html{background: #6e6e6e url('/images/night/background.png') repeat-x top left;}

h1 a:hover{color:#BCB2B2;}
/*section markers*/
#section_marker{
	height:2px;
	background:#ffbdc6 url('/images/night/section-marker-generic.png') repeat-y top left;
}
/*about*/
#section_marker.about{background:#bac2ff url('/images/night/section-marker-about.png') repeat-y top left;}
/*work*/
#section_marker.work{background:#bac2ff url('/images/night/section-marker-work.png') repeat-y top left;}
/*hobbies*/
#section_marker.hobbies{background:#acffd5 url('/images/night/section-marker-hobbies.png') repeat-y top left;}

/*passing of time*/
#time{
	position:absolute;
	z-index:-1;
}
.hour_20 #time{
	top:30px;
	left:35%;
	opacity:0.5;
}
.hour_21 #time{
	top:25px;
	left:38%;
	opacity:0.6;
}
.hour_22 #time{
	top:20px;
	left:41%;
	opacity:0.7;
}
.hour_23 #time{
	top:15px;
	left:44%;
}
.hour_01 #time{
	top:15px;
	left:56%;
	opacity:0.8;
}
.hour_02 #time{
	top:20px;
	left:59%;
	opacity:0.7;
}
.hour_03 #time{
	top:25px;
	left:62%;
	opacity:0.6;
}
.hour_04 #time{
	top:30px;
	left:65%;
	opacity:0.6;
}
.hour_05 #time{
	top:35px;
	left:68%;
	opacity:0.5;
}
.hour_06 #time{
	top:40px;
	left:71%;
	opacity:0.4;
}

#cityscape{
	background:url('/images/night/cityscape.png') repeat-x left 35px;
	z-index:6;
}

#title, #site_search{margin-top:12px;}

#site_search #search_query_box{
	background:url('/images/night/search-box.png') no-repeat center left;
	border:0;
	font-size:85%;
	line-height:1.6em;
	float:left;
}
#site_search #search_button{
	float:left;
	width:18px;
	margin-left:4px;
}
/*navigation*/
#navigation ul li a,#navigation ul li a:hover{
	color:white;
	text-decoration:none;
}
/*home*/
#navigation ul li a.home{background:url('/images/night/nav-home.png') no-repeat center right;}
#navigation ul li#selected a.home,#navigation ul li a:hover.home{background:url('/images/night/nav-home-on.png') no-repeat center right;}
/*about*/
#navigation ul li a.about{background:url('/images/night/nav-about.png') no-repeat center right;}
#navigation ul li#selected a.about,#navigation ul li a:hover.about{background:url('/images/night/nav-about-on.png') no-repeat center right;}
/*work*/
#navigation ul li a.work{background:url('/images/night/nav-work.png') no-repeat center right;}
#navigation ul li#selected a.work,#navigation ul li a:hover.work{background:url('/images/night/nav-work-on.png') no-repeat center right;}
/*hobbies*/
#navigation ul li a.hobbies{background:url('/images/night/nav-hobbies.png') no-repeat center right;}
#navigation ul li#selected a.hobbies,#navigation ul li a:hover.hobbies{background:url('/images/night/nav-hobbies-on.png') no-repeat center right;}
/*contact*/
#navigation ul li a.contact{background:url('/images/night/nav-contact.png') no-repeat center right;}
#navigation ul li#selected a.contact,#navigation ul li a:hover.contact{background:url('/images/night/nav-contact-on.png') no-repeat center right;}

/*story coloured h*/
#content a{text-decoration:none;}

#content .home a, h2.home a{color:#d60321;}
#content .home a:hover, h2.home a:hover{color:#f70628;}

#content .about a, h2.about a{color:#7104e2;}
#content .about a:hover,h2.about a:hover{color:#7d06f7;}

#content .hobbies a, h2.hobbies a{color:#01954a;}
#content .hobbies a:hover,h2.hobbies a:hover{color:#02bb5e;}

#content .work a, h2.work a{color:#1a4bd9;}
#content .work a:hover, h2.work a:hover{color:#1531ff;}

/*pagination*/
#hobbies .pagination li.pagination_link .current{color:#01954a;font-weight:bold;}
#work .pagination li.pagination_link .current{color:#041ee2;font-weight:bold;}