/*
 All about sizes, positions & layout - colours, backgrounds etc are set in the day/night file
*/
*,html,body{
	text-align:left;
	font-family:arial;
}

h1{font-size:123.1%;}
h1 a, h1 a:hover, h3 a, h3 a:hover{text-decoration:none;}
h4{font-size:85%;}
h3{font-size:108%;}


em{font-style:italic;}
strong{font-weight:bold;}

p{margin:10px 0;}
/**layout**/

/*ie*/
#i_use_a_crap_browser{
	width:100%;
	margin:0 0 5px 0;
}
	#i_use_a_crap_browser h5{text-align:center;}	

/*general div widths*/
.full{
	width:100%;
	margin:0;
}
.restricted{width:800px;}

/*section marker*/
#section_marker{width:100%;}
	#section_marker span{display:none;}
/*cityscape*/
#cityscape{height:8em;}
	#cityscape h3{display:none;}
/*logo*/
#logo{
	float:left;
	width:105px;
	margin-top:55px;
}
	#logo img{margin-left:10px;}
/*main h1*/
#title{
	width:510px;
	float:left;
}
/*search box*/
#site_search{
	width:180px;
	float:left;
}
	#site_search #search_query_box{
		width:144px;
		padding:2px 5px;
	}

#page{padding-top:0px;}	
/*navigation*/	
#navigation{
	width:105px;
	float:left;
}
	#navigation ul{width:85px;}
		#navigation ul li{
			width:85px;
			margin:0;
		}
			#navigation ul li a{
				width:60px;
				display:block;
				line-height:2.4em;
				padding-left:10px;
				margin:0;				
			}
			#navigation ul li#selected a{width:75px;}
			
/*content*/
#content{
	width:695px;
	float:left;
}
	.story{margin:0 0 20px 0;}	
	div.story h4{margin:0 0 4px 0;}
	div.story h3{margin:0 0 4px 0;}
	
	#content ul{margin:0 0 10px 15px;}
	#content ol{margin:0 0 10px 30px;}
	#content ul li{list-style-type:square;}
	#content ol li{list-style-type:decimal;}

/*floated images*/
.attached_image{
	float:left;
	clear:both;
	margin:0 10px 10px 0;
}	
/*pagination*/
#content ul.pagination{margin-left:0;}
#content ul.pagination li{list-style-type:none;}
.pagination li.pagination_link a, .pagination span.disabled {border:0 solid white;}
.pagination li.pagination_link .current{font-weight:bold;}