/*
 All about sizes, positions & layout - colours, backgrounds etc are set in the day/night file
*/
*,html,body{
	text-align:left;
	font-family:helvetica,arial;
}

em{font-style:italic;}
strong{font-weight:bold;}
h4{
	font-size:85%;
	color:#fefeff;
}

p{
	margin:10px 0;
	line-height:1.6em;
}
a, a:hover, a:visited{text-decoration:none;}
a:hover{color:#FF522B;}
a,acronym,code{color:#ff3700;}
p,li{color:#fefeff;}

#content ul{margin-left:15px;}
	#content ul li{list-style-type:square;}
#content ol{margin-left:30px;}
	#content ol li{list-style-type:decimal;}


#i_use_a_crap_browser{display:none;}
/*layout*/
body{background:#171d16 url('/images/background.png') repeat-x top left;}
	
#page{background:url('/images/tree.png') no-repeat bottom left;}

#navigation{float:right;}	
	#navigation li{
		float:left;
		display:block;
		position:relative;
	}
		#navigation li a{
			display:block;
			line-height:2.3em;
			font-size:138.5%;
			padding:0 8px;
			color:#fefeff;
			background:url('/images/vertical-dash.gif') no-repeat center right;
		}
		#navigation li a.work{background-image:none;}
		#navigation li a, #navigation li a:hover{text-decoration:none;}
		#navigation li#selected a, #navigation li#selected a:hover{color:#fa3a00;}
		
		
#logo{
	margin-top:20px;
	padding-left:45px;
	background:url('/images/quote.png') no-repeat top left;
	width:310px;
	float:left;
}

.story{margin:30px 0 0 45px;}
	h2,h1{font-size:213%;}
	.story h3{font-size:174%;}
		h2,h1,h2 a, h1 a,h2 a:hover,h1 a:hover, .story h3 a, .story h3 a:hover{
			color:#fefeff;
			text-decoration:none;
			font-family:georgia;
			text-transform:capitalize;
		}
	.story p{
		color:#bad7e1;
		font-family:georgia;
		font-size:116%;
	}
	.story a{font-family:georgia;}
	
.full{width:100%;}
.restricted{
	margin-left:23%;
	width:70%;
}
.page_image{
	float:right;
	margin:0 0 12px 12px;
}

#featured_story{padding-bottom:30px;}

#content ul.detail, ul.detail{margin:5px 0 !important;}
ul.detail li{
	list-style-type:none;
	float:left;
	display:block;
	position:relative;
	color:#bad7e1;
	margin-right:8px;
	line-height:1.8em;
}
ul.detail li a{color:#bad7e1;}


#related{
	padding:45px 0 10px 0;
	height:330px;
}
#related .article, #related .article_list .front{
	width:40%;
	margin-left:2%;
	float:left;
	padding-left:3%;
	background:url('/images/article.png') no-repeat top left;
	margin-bottom:10px;
}
#related .article_list{
	width:49%;
	float:left;
}
#related .article_list .front{
	width:86%;
	margin-left:4%;
	padding-left:6%;
}
	#related .featured_work{width:92%;}
	#related .article h3,#related .article_list .front h3{margin:0;}
	#related .article h3 small,#related .article_list .front h3 small{font-size:85%;}
	#related .article p, #related .article_list .front p{margin:0 0 8px 0;}
	#related a, #related h5{color:#ff9700;}
	#related a:hover{color:#FFBD00;}
	#related .pagination_container{
		margin-right:4%;
		width:96%;
	}	
		#related .pagination_container h5{line-height:2em;}
		#related .pagination_container ul, #related .pagination_container h5{
			float:right;
			margin:0 10px 0 0;
		}
	#related h3.blog, #cat_list h3{margin:0 0 20px 2%;}
		#index #related h3.blog{margin:0 0 20px 4%;}
	#related .article_list h3.title{margin:0 0 20px 0;}
		#related h3.title a, #related h3.title a:hover, #related h3.blog a, #related h3.blog a:hover{
			color:white;
			font-size:146.5%;
		}
	#related .featured_work h3{font-size:123.1%;}
		#related .featured_work h3 a{color:#ff3700;}
		#related .featured_work h3 a:hover{color:#FF522B;}	
			
#cat_list{
	margin:20px 2%;
	width:96%;
}	
body #cat_list ul li a{
	color:white;
}
#footer{background:url('/images/footer.png') repeat-x top left;}
.loader{background:url('/images/loader.png') no-repeat center center;}
.display_none{opacity:0.1;}

#footer .quarter{
	width:22%;
	margin:0 0 0 2%;
	float:left;
}
	#extras{padding-top:130px;}
		#index #extras{padding-top:0;}
	#extras h4{font-size:146.5%;}
		#extras h4, #extras h4 a, #extras h4 a:hover{color:white;}
	#extras h5{
		margin-bottom:20px;
		font-size:100%;
		line-height:1.4em;
	}
		#extras h5 a{
			padding-left:20px;
			background:url('/images/rss-small.png') no-repeat center left;
			color:#ff8a1f;
		}
			#extras h5 a:hover{color:#FFA319;}
/*flickr*/
#flickr_latest .gallery_item{
	float:left;
	width:49%;
	margin-top:0;
}
	#flickr_latest .gallery_item img{border:2px solid white;}
	#flickr_latest span.flick{color:#3b9de9;}
	#flickr_latest span.flickr{color:#ff00d9;}	
	
#lastfm ol, #twitter ul, #oneblackbear ol{width:80%;}
#twitter ul li{margin-left:15px;}
#lastfm ol li,#oneblackbear ol li{margin-left:25px;}
	#lastfm ol li, #twitter ul li, #oneblackbear ol li{
		list-style-type:decimal;
		margin-bottom:4px;
		padding-left:4px;
	}	
	#twitter ul li{list-style-type:square;}
		#lastfm ol li	a, #twitter ul li a, #oneblackbear ol li a{color:white;}
		#twitter ul li span, #lastfm ol li span, #oneblackbear ol li span{color:#95d5ff;}
		
#twitter h4 a{
	padding-left:20px;
	background:url('/images/twitter.png') no-repeat center left;
}		
#oneblackbear{background:url('/images/obb.png') no-repeat top right;}

#associated{margin-top:30px;}
	#people{
		float:right;
		width:25%;
		margin-right:4%;
	}
		#people h4{
			font-size:116%;
			color:#ff861c;
		}
		#people ul{margin-left:0px;}
		#people ul li{
			list-style-type:none;
			margin-bottom:4px;
			font-size:85%;
			text-align:right;
		}
		#people ul li span{color:#ff0042;}
		
		
/** gallery **/
body.gallery .gallery_item{
	width:25%;
	float:left;
	margin-top:30px;
	text-align:center;
}	
	body.gallery .gallery_item h3, body.gallery .gallery_item h4, h3.gallery{margin-bottom:3px;text-align:center;}	
	body.gallery .gallery_item h3, h3.gallery{text-transform:capitalize;}
		body.gallery .gallery_item h3 a, h3.gallery a, h3.gallery{
			font-family:georgia;
			font-size:108%;
			color:white;
		}
	body.gallery .gallery_item img{
		border:2px solid white;
	}	
	h2.gallery{margin-top:30px;}

#content ul.pagination li{list-style-type:none !important;}

/* SEARCH */
#search_box{
	float:right;
	margin:8px;
}
	#search_box form fieldset{margin:0;}

#cmsq_filter{
	color:#171d15;
	padding:4px 10px 4px 5px;
	width:120px;
	border:1px solid white;
	background: white url('/images/question-mark.png') no-repeat center right;
	font-size:93%;
	line-height:22px;
	border:1px solid #171d15;
}

#results{
	width:135px;
	position:absolute;
	background:white;
	margin-left:1px;
}
	#results ul{}
	#results ul li{
		width:100%;
		margin:0;
		list-style-type:square;
		background:none;
		color:#171d15;
	}
		#results ul li a, #results ul li em{
			font-size:93%;
			background-image:none;
			color:#333333;
			line-height:2em;
			display:block;
			padding:0 8px;
		}
		#results li#more_results a{border-top:1px solid #333333;}
		#results ul li a:hover,#results ul li em:hover{background-color:#faecba;}
		#results li#more_results a:hover{background-color:#95D5FF;}	
/****** Modal popup styling ********/

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
#modal_content {
    display: none;
    position: fixed;
    top: 18%;
    left: 23%;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 8px #111;
    background:#FFF;
}

#modal_overlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.overlay {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html #modal_content {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

