<?if($cms_content[0]->id):?>
<?
$all_content = $cms_content;
$hide = 2;
?>
<?endif?>

<?if($all_content):?>
<div class="articles full">
	<h3 class="blog"><a href="#" title="more from this section" rel="more">More Posts From '<?=$cms_section->title?>'</a></h3>
	<?for($i=$article_offset; $i< count($all_content); $i++):?>
		<?$related = $all_content[$i]?>
		<div class="article <?=$related->section->url?>">	
			<h3><a href="<?=$related->permalink?>" title="view '<?=$related->title?>' in full" rel="article"><?=$related->title?>  <?if($i>3):?> &raquo;<?endif?></a></h3>
			<?if($i< 4):?>
			<p class="details"><?=word_truncation($related->content, 30, true)?> <a href="<?=$related->permalink?>" title="view '<?=$related->title?>' in full" rel="article">&raquo;</a></p>
			<?endif?>
		</div>
		<?if(fmod($i+1,2)==0):?>
		<div class="clearfix"></div>
		<?endif?>
	<?endfor?>
	<div class="clearfix"></div>
	<?if($cms_content->total_pages > 1):?>
	<div class="pagination_container clearfix">
		<?=paginate_links($all_content, 2)?>
		<h5>Page:</h5>
	</div>
	<?endif?>
</div>
<?endif?>


<script type="text/javascript">
$(document).ready(function(){
	$('#related .pagination a').click(function(){
		href = $(this).attr('href');
		$('#related').addClass('loader');
		$('#related *').addClass('display_none');
		$.post('/related', {'page_number':href, 'section':'<?=$cms_section->url?>'}, function(response){
			$('#related').html(response);
			$('#related').removeClass('loader');
			$('#related *').removeClass('display_none');
		});
		return false;
	});

});
</script>
