<?if($cms_content->id):?>
<?
$model = new CmsContent("published");
$all_content = $model->filter('id <> '.$cms_content->id)->order('RAND()')->limit($per_page)->all();
$hide = 0;
?>
<?elseif($cms_content[0]->id && $action != "index"):?>
<?
$all_content = $cms_content;
$hide = 2;
?>
<?endif?>

<?if($all_content):?>
<div class="articles full">
	<?if($cms_content->id):?>
	<h3 class="blog"><a href="#" title="more from this section" rel="random">Random Posts</a></h3>
	<?elseif($cms_content[0]->id):?>
	<h3 class="blog"><a href="#" title="more from this section" rel="more">More Posts From '<?=$cms_section->title?>'</a></h3>
	<?endif?>
	<?$i=1;?>
	<?foreach($all_content as $related):?>
		<?if($i>$hide):?>
			<div class="article <?=$related->section->url?>">	
				<h3><a href="<?=$related->permalink?>" title="view '<?=$related->title?>' in full" rel="article"><?=$related->title?>  <small>(<?=short_date($related->published)?>)</small><?if($i>1):?> &raquo;<?endif?></a></h3>
				<?if(($i-$hide) <= 2):?>
				<p class="details"><?=word_truncation($related->content, 30, true)?> <a href="<?=$related->permalink?>" title="view '<?=$related->title?>' in full" rel="article">&raquo;</a></p>
				<?endif?>
			</div>
			<?if(fmod($i,2)==0):?>
			<div class="clearfix"></div>
			<?endif?>
		<?endif?>
		<?$i++?>
	<?endforeach?>
	<?if($cms_content->total_pages > 1):?>
	<div class="pagination_container clearfix">
		<?=paginate_links($all_content, 2)?>
		<h5>Page:</h5>
	</div>
	<?endif?>
</div>
<?else:?>
<?
$model = new CmsContent("published");
$all_content = $model->filter('cms_section_id <> 4')->order('published DESC')->limit(6)->offset(1)->all();
?>
<div class="article_list">
	<h3 class="blog"><a href="/blogs" title="blogs" rel="blog">Recent Blogs</a></h3>
	<?$i=0?>
	<?foreach($all_content as $related):?>
		<div class="front <?=$related->section->url?>">	
			<h3><a href="<?=$related->permalink?>" title="view '<?=$related->title?>' in full" rel="article"><?=$related->title?> - <small><?=short_date($related->published)?></small><?if($i>1):?> &raquo;<?endif?></a></h3>
			<?if($i<1):?>
			<p class="details"><?=word_truncation($related->content, 30, true)?> <a href="<?=$related->permalink?>" title="view '<?=$related->title?>' in full" rel="article">&raquo;</a></p>
			<?endif?>
		</div>
		<div class="clearfix"></div>
		<?$i++?>
	<?endforeach?>
</div>
<?$featured = $model->clear()->scope("published")->filter(array('cms_section_id'=>3))->order('published DESC')->first()?>
<div class="article_list">
	<h3 class="title"><a href="/work" title="Latest Work" rel="work">Latest Work</a></h3>
	<div class="featured_work <?=$featured->section->url?>">	
		<h3><a href="<?=$featured->permalink?>" title="view '<?=$featured->title?>' in full" rel="article"><?=$featured->title?> - <small><?=short_date($featured->published)?></small></a></h3>
		<?=word_truncation($featured->content, 90)?>
	</div>
</div>

<?endif?>


<script type="text/javascript">
$(document).ready(function(){
	$('#related .pagination a').click(function(){
		href = $(this).attr('href');
		$('#related').addClass('loader');
		$('#related *').addClass('display_none');
		$.post('/related', {'page_number':href, 'section':'<?=$cms_section->url?>'}, function(response){
			$('#related').html(response);
			$('#related').removeClass('loader');
			$('#related *').removeClass('display_none');
		});
		return false;
	});

});
</script>
