<?
$model = new CmsContent("published");
$all_content = $model->filter('cms_section_id <> 3')->order('published DESC')->limit(6)->offset(1)->all();
?>
<div class="article_list">
	<h3 class="blog"><a href="/blog" title="blogs" rel="blog">Recent Blogs</a></h3>
	<?$i=0?>
	<?foreach($all_content as $related):?>
		<div class="front <?=$related->section->url?>">	
			<h3><a href="<?=$related->permalink?>" title="view '<?=$related->title?>' in full" rel="article"><?=$related->title?><?if($i>1):?> &raquo;<?endif?></a></h3>
			<?if($i<1):?>
			<p class="details"><?=word_truncation($related->content, 30, true)?> <a href="<?=$related->permalink?>" title="view '<?=$related->title?>' in full" rel="article">&raquo;</a></p>
			<?endif?>
		</div>
		<div class="clearfix"></div>
		<?$i++?>
	<?endforeach?>
</div>
<?$featured = $model->clear()->scope("published")->filter(array('cms_section_id'=>3))->order('published DESC')->first()?>
<div class="article_list">
	<h3 class="title"><a href="/work" title="Latest Work" rel="work">Latest Work</a></h3>
	<div class="featured_work <?=$featured->section->url?>">	
		<h3><a href="<?=$featured->permalink?>" title="view '<?=$featured->title?>' in full" rel="article"><?=$featured->title?> </a></h3>
		<?=word_truncation($featured->content, 90)?>
	</div>
</div>