<?if($cms_section->introduction):?>
<div id="intro">
	<?=$cms_section->introduction?>
</div>
<?endif?>
<?if($cms_content[0]):?>
	<?foreach($cms_content as $content):?>
	<div class="story <?=$content->section->title?> clearfix">
		<?$images = $content->images?>
		<?if($images[0]):?>
			<a href="<?=$content->permalink?>" title="read '<?=$content->title?>'" rel="full story"><img src="<?=$images[0]->permalink(80)?>" alt="story image" title="read '<?=$content->title?>'" class="attached_image"/></a>			
		<?endif?>
		<div class="story_content">
			<h4><?=long_date($content->published)?></h4>
			<h3><a href="<?=$content->permalink?>" title="read '<?=$content->title?>'" rel="full story"><?=$content->title?></a></h3>
			<?=word_truncation($content->content,60,false, " ")?>
		</div>
	</div>
	<?endforeach?>
	<?=paginate_links($cms_content, 2)?>
<?else:?>
<p><em>No stories in this section :(</em></p>
<?endif?>