<div class="restricted">
	<div class="story <?=$cms_content->section->url?> clearfix" id="featured_story">
		<div class="story_content">
			<h2><a href="<?=$cms_content->permalink()?>" title="read '<?=$cms_content->title?>'" rel="this page"><?=$cms_content->title?></a></h2>
			<h4><?=long_date($cms_content->published)?></h4>
			<?$images = $cms_content->images?>
			<?if($images[0]):?>
				<a href="<?=$images[0]->url?>" title="read '<?=$content->title?>'" rel="article"><img src="<?=$images[0]->permalink(100)?>" alt="story image" title="read '<?=$content->title?>'" class="page_image"/></a>			
			<?endif?>
			<?=$cms_content->format_content()?>
			<?if($cms_content->categories && $cms_content->categories[0]):?>
			<ul class="detail clearfix">
				<li>Found in:</li>
				<?foreach($cms_content->categories as $category):?>
				<li><?=$category->name?></li>
				<?endforeach?>
			</ul>
			<?endif?>
		</div>	
	</div>
</div>
