<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="charles marshall - design by gareth brown" />
	
	<link rel="icon" type="image/gif" href="/favicon.ico" />
	<link rel="stylesheet" href="/stylesheets/core.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<script src="/javascripts/jquery.1.2.6.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
	
  <title>
		<?if($cms_content->id || $cms_section->id):?>
		<?=(page_title($cms_content, $cms_section, "Charles Marshall", " - "))?>
		<?elseif($action != "index"):?>
		<?=ucwords(str_replace("-", " ", $action))?> - Charles Marshall
		<?else:?>Charles Marshall<?endif?>
	</title>
	
</head>

<body id="<?=$body_id?>" class="<?=$body_class?>">
	<!--[if lte IE 6]>
	<?=partial("_ie")?>
	<![endif]-->
	<!-- main content container -->
	<div id="page" class="full clearfix">
		<div id="header" class="clearfix restricted">
			<!-- navigation -->
			<div id="navigation">
				<ul>
	        <?=smart_nav("/", "home", $section_stack[0], "selected", array('accesskey'=>"H", 'class'=>'home') )?>                
	        <?=smart_nav("/blog", "blog", $section_stack[0], "selected", array('accesskey'=>"B", 'class'=>'blog') )?>        
	        <?=smart_nav("/gallery", "photos", $section_stack[0], "selected", array('accesskey'=>"G", 'class'=>'gallery') )?>
	        <?=smart_nav("/work", "work", $section_stack[0], "selected", array('accesskey'=>"W", 'class'=>'work') )?>		
				</ul>
			</div>
			<!-- logo -->
			<div id="logo">
				<a href="/" title="home" rel="home" ><img src="/images/logo.png" title="Charles Marshall" alt="logo"/></a>
			</div>
			
		</div>
		<div id="content" class="clearfix">
			<?=$content_for_layout?>
		</div>
	</div>
	<!--end main content container -->		
	<div id="footer">
		<div id="related" class="full clearfix">
			<?=partial("page/_related", $this)?>
		</div>
		<div id="extras" class="full clearfix">
			<?=partial("page/_flickr")?>
			<?=partial("page/_lastfm")?>
			<?=partial("page/_twitter")?>
			<?=partial("page/_oneblackbear")?>
		</div>
		<div id="associated" class="full clearfix">
			<?=partial("page/_people")?>
			<?=partial("page/_rss", $this)?>
		</div>
		
	</div>
	
</body>
</html>