form{padding:5px;}
  form fieldset{padding:5px;}
    form label{
      font-size:108%;
      margin-bottom:10px;
      display:block;
    }
    form input{}
    form textarea{
      width:98%;
      height:80px;
      padding:1%;
      display:block;
      margin-bottom:10px;
    }
    
form.data-set-select{
  width:29%;
  float:right;
}
  form.data-set-select label{
    float:left;
    font-size:116%;
    width:32%;
    margin-right:2%;
  }
  form.data-set-select select{
    width:55%;
    float:left;
  }