<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Charles Marshall" />
   <meta name="keywords" content="{{ page.keywords | join:',' }}" />
   <meta name="description" content="{{ page.description }}" />
   <meta name="google-site-verification" content="zT2eibYXZrHazVyvyX98snlIzV1QzmBjtBMy8PzR_6k" />
   <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="all" charset="utf-8"/>   
   <!--[if lte IE 7]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="all" charset="utf-8"/><![endif]-->
   
   <script src='http://www.google.com/jsapi'  type='text/javascript'></script>	
   <script type='text/javascript'>                      
    google.load('jquery', '1.3');
    google.load('jqueryui', '1.7');
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-927511-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
   </script>
   
   <title>{{ page.title }} - Charles Marshall</title>
</head>
<body class='{{ page.catname }}'>
  
  <div class='full clearfix' id="header">
    <ul class='navigation clearfix inline'>
      <li class='last rss category'><a href='/rss.xml' title='RSS' class='category rss curvy'>RSS</a></li>
      <li{% if page.category == 'general' or page.catname == 'general' %} id='active'{% endif %} class='category'><a href='/general.html' title='general' class='category curvy'>general</a></li>
      <li{% if page.category == 'rant' or page.catname == 'rant' %} id='active'{% endif %} class='category'><a href='/rant.html' title='rant' class='category curvy'>rant</a></li>    
      <li{% if page.category == 'web' or page.catname == 'web' %} id='active'{% endif %} class='category'><a href='/web.html' title='web' class='category curvy'>web</a></li>      
      <li{% if page.category == 'jquery' or page.catname == 'jquery' %} id='active'{% endif %} class='category'><a href='/jquery.html' title='jquery' class='category curvy'>jQuery</a></li>      
      <li{% if page.category == 'work' or page.catname == 'work' %} id='active'{% endif %} class='category'><a href='/work.html' title='work' class='category curvy'>work</a></li>      
      <li class='first category'{% if page.home %} id="active"{% endif %}><a href='/' title='Home' class='category home curvy'>home</a></li>
    </ul>
    
    <samp><a href='/' title='charles marshall' class='curvy category box_shadow'>charles marshall</a></samp>
  </div>
  
  
  <div class='full clearfix' id="content">
    {% if page.home != true and page.category %}
    <div class='details summary clearfix' >
      <h5 class='date tag curvy'>{{ page.date | date_to_string }}</h5>
      <h6 class='curvy'><a href='/{{ page.category | downcase }}.html' title='{{ page.category | downcase }}'>{{ page.category | downcase }}</a></h6>      
    </div>
    {% endif %}
    <h1>{{ page.title }}</h1>
    
    {% if page.introduction %}
    <div class='introduction curvy clearfix'>{{ page.introduction }}</div>
    {% endif %}
    {{ content }}
    
    {% if site.related_posts and page.category %}
    <div class='realted_posts clearfix'>
      <h4>Related Posts</h4>
      <ul class='half first'>
      {% for related in site.related_posts limit:5 %}
      <li><a href='{{ realted.url }}' title='{{ related.title }}'>{{ related.title }}</li>
      {% endfor %}
      </ul>
      <ul class='half last'>
      {% for related in site.related_posts limit:5 offset:5 %}
      <li><a href='{{ realted.url }}' title='{{ related.title }}'>{{ related.title }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    
  </div>    

   
</body>
</html>
