<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Charles Marshall" />
   <meta name="keywords" content="charles marshall{{ page.keywords }}" />
   <meta name="description" content="{{ page.description }}Charles Marshall" />
   <meta name="google-site-verification" content="zT2eibYXZrHazVyvyX98snlIzV1QzmBjtBMy8PzR_6k" />
   <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="all" />   
   
   <title>{{ page.title }} - Charles Marshall</title>
</head>
<body>
  
    <div class='row clearfix' id="header">
      <ul class='navigation clearfix inline'>
        {% for cat in site.categories %}
          {% capture catname %}{{ cat | replace_first:'<p>',' ' | strip_html | truncatewords:1 | remove:'.'}}{% endcapture %}
          <li{% if page.category == catname %} id='active'{% endif %} class='category'>
            <a href='/{{ catname | handleize }}.html' title='{{ catname | upcase }}' class='category'>{{ catname | upcase }}</a>
            <ul class='navigation subnavigation'>
            {% for post in site.posts %}
              {% if post.category == catname %}<li><a href='{{ post.url }}' title='{{ post.title }}'>{{ post.title }}</a></li>{% endif %}
            {% endfor %}  
            </ul>          
          </li>
        {% endfor %}
        <li class='first category'><a href='/' title='Home' class='category home'>HOME</a></li>
      </ul>
    </div>
  
    

    

  <script src='http://www.google.com/jsapi'  type='text/javascript'></script>	
  <script type='text/javascript'>                      
  google.load('jquery', '1.3');
  google.load('jqueryui', '1.7');
  </script>
  <script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
  
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-927511-5");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
