<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Charles Marshall" />
   <meta name="keywords" content="charles marshall{{ page.keywords }}" />
   <meta name="description" content="{{ page.description }}Charles Marshall" />
   
   <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="all" />
   
   <title>{{ page.title }} - Charles Marshall</title>
</head>
<body>
  <div id="webpage">
    <p id="logo"><a href="/" title="home">Charles Marshall</a></p>
    {{ content }}
  </div>
  <img src="/images/splash.jpg" alt="Feature image to break up the whiteness... modified version of http://www.pinkmoustache.net/free-vectors-colorful-backgrounds/" id="splash"/>
</body>
</html>