*{
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}

h1,
h2,
h3,
h4{
	margin-top:0;
}

/**
 * fonts
 */
h1,
h2,
h3,
h4,
.title,
.slab{
	font-family: 'Josefin Slab', serif;
}

h1,
.title{
	font-weight: 700;
	@include fontSize($h1FontSize);
}

p,
ul,
ol,
.sans
{
	font-family: 'Open Sans Condensed', serif;
}

a,
li{
	font-family: inherit;
}

/**
 * copy
 */

p{
	margin-bottom: $copyMarginBottom;
	line-height: $copyLineHeight;
	@include fontSize($copyFontSize);
	&:last-child{
		margin-bottom: 0;
	}
}

body,
html{
	background-color: $paleColour;
}

table{

	th,
	td{
		text-align: left;
		padding: ($paddingInner / 2);
	}
	
	
	th{
		font-weight: bold;
	}
}

strong,
b{
	font-weight: 700;
}

i{
	font-style: italic;
}