*{
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}

h1,
h2,
h3,
h4{
	margin:0;
}

/**
 * fonts
 */
h1,
h2,
.title,
.slab{
	font-family: 'Josefin Slab', serif;
}

h1,
.title{
	font-weight: 700;
	@include fontSize($h1FontSize);
}

h2{
	font-weight: 400;
	@include fontSize($h2FontSize);
}

h3{
	font-weight: 700;
	@include fontSize($h3FontSize);
}

h4{
	font-weight: 700;
	@include fontSize($h4FontSize);
}

h3,
h4,
p,
ul,
ol,
td,
th,
span,
.sans
{
	font-family: 'Open Sans Condensed', serif;
}

a,
li,
strong,
b,
i,
em{
	font-family: inherit;
}

a{
	transition: all 0.4s ease-out;

	&:hover{
		color: $accentColour;
	}
}

/**
 * copy
 */

p{
	margin-bottom: $copyMarginBottom;
	line-height: $copyLineHeight;
	@include fontSize($copyFontSize);
	&:last-child{
		margin-bottom: 0;
	}
}

body,
html{
	background-color: $paleColour;
}


table{

	th,
	td{
		text-align: left;
		padding: ($paddingInner / 2);
	}
	
	
	th{
		font-weight: bold;
	}
}

strong,
b{
	font-weight: 700;
}

i,
em{
	font-style: italic;
}


.container{
	padding: $paddingOuter;
	width: $contentContainerWidth;
	max-width: $contentContainerMaxWidth;
	margin: auto;
	@extend %clearfix;
}

.feature-img{
	float: left;
	max-width: 25%;
}