

.button{
	display: inline-block;
	padding: $buttonPadding;
	text-decoration: none;
	cursor: pointer;
	text-transform: lowercase;


	&:hover{
		text-decoration: none;
		
	}


	&.inverted{
		
	}

	&.blocked{
		display: block;
	}
}