

.button{
	display: inline-block;
	padding: $buttonPadding;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid;

	&:hover{
		text-decoration: none;
		
	}

	&.inverted{
		
	}

	&.blocked{
		display: block;
	}
}