

.hero{
	@extend %clearfix;
	position: relative;
	height: $heroHeightNormal;
	width: 100%;
	background: center center no-repeat;
	background-size: cover;
	color: $paleColour;
	

	&__text{
		display: block;
		padding: $paddingInner;
		background-color: $highlightColourRGBA;
		width: $contentContainerWidth;
		max-width: $contentContainerMaxWidth;
		margin: 20vh auto;		
		@extend %clearfix;
	}

	&__logo{
		display: block;
		float: right;
		max-width: 20%;
	}

	&.slim{
		height: auto;
		min-height: $heroHeightSlim;
		
		.hero__text{
			margin-top: ($heroTextMarginTop * 0.4);
			margin-bottom: ($heroTextMarginTop * 0.4);
		}

	}
}