.intro{
	@extend %clearfix;
	width: 100%;
	background: url("/dist/img/birmingham.png") no-repeat center center;
	background-size: cover;
	min-height: 80vh;	

	background-color: $highlightColour;


	&__text{
		display: block;
		padding: $paddingInner;
		background-color: rgba(222,242,241, 0.8);
		width: 80%;
		max-width: 600px;
		margin: 20vh auto;

	}
}