.intro{
	@extend %clearfix;
	width: 100%;
	background: url("/dist/img/birmingham.png") no-repeat center center;
	background-size: cover;
	min-height: 100vh;	

	background-color: $highlightColour;


	&__text{
		display: block;
		padding: $paddingInner;
		background-color: $contrastRGBA;
		width: $contentContainerWidth;
		max-width: $contentContainerMaxWidth;
		margin: 20vh auto;
		@extend %clearfix;

	}
}