.logo-container{
	width: $navHeight;
	height: $navHeight;
	display: block;
	float: left;
	cursor: pointer;
}

#logo{
	width: 100%;
	height: 100%;
	display: block;

	path{
		fill: $highlightColour;
	}
}

body.home #logo path{
	fill: $paleColour;
}