.navigation-and-logo{
	@extend %clearfix;
	position: relative;
	padding: ($paddingOuter / 2) $paddingOuter;
	z-index: 10;
	box-shadow: 0px 12px 26px -6px rgba(0,0,0,0.25);
	height: $navHeight + $paddingOuter;
	
	nav{
		float:left;
		display: table;
		height: $navHeight;
		margin-left: 5%;

		a{
			display: table-cell;
			vertical-align: middle;
			font-weight: 400;
			@include fontSize($h3FontSize);
		}
	}
}

/**
 * Home page navigation sits on top so we get the nice effect
 */
body.home .navigation-and-logo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	box-shadow: none;

	nav a{
		color: $paleColour;
	}
}