.navigation-and-logo{
	@extend %clearfix;
	position: relative;
	padding: 0 $paddingOuter;
	z-index: 10;
	box-shadow: $boxShadowOuterBottom;
	
	
	nav{
		float:left;
		display: table;
		height: $navHeight + $paddingOuter;
		margin-left: 5%;
		
		a{
			display: table-cell;
			vertical-align: middle;
			font-weight: 400;
			@include fontSize($h3FontSize);
			padding: ($paddingOuter / 2) $paddingOuter;
			border-width: 0;
			border-bottom: 2px solid transparent;
			border-top: 2px solid transparent;
			text-transform: none;
			
			&:hover,
			&.active{
				border-bottom-color: $accentColour;
			}
		}
	}
}

/**
 * Home page navigation sits on top so we get the nice effect
 */
body.home .navigation-and-logo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	box-shadow: none;

	nav a{
		color: $paleColour;
		&:hover,
		&.active{
			border-bottom-color: $paleColour;
		}
	}
}